pycoin>=0.91.20210515
python_dateutil>=2.5.3
PyYAML>=5.4.1
setuptools>=21.0.0
urllib3>=1.25.3
web3==5.12.2
websockets<9.0.0,>=8.1.0

httpretty~=1.1.4
hexbytes~=0.2.2
idna~=3.3
pip~=21.3.1
attrs~=21.4.0
wheel~=0.37.1
rlp~=2.0.1
toolz~=0.11.2
requests~=2.27.1
base58~=2.1.1
ipfshttpclient~=0.7.0
jsonschema~=3.2.0
certifi~=2021.10.8
cytoolz~=0.11.2
parsimonious~=0.8.1
netaddr~=0.8.0
six~=1.16.0
bitarray~=1.2.2
python-dateutil~=2.8.2
multiaddr~=0.0.9
varint~=1.0.2
pyrsistent~=0.18.1