"""
    Ubiquity REST API

    Ubiquity provides a RESTful and uniform way to access blockchain resources, with a rich and reusable model across multiple cryptocurrencies.  [Documentation](https://app.blockdaemon.com/docs/ubiquity)  ### Protocols #### Mainnet The following protocols are currently supported: * bitcoin * ethereum * polkadot * xrp * algorand * stellar * dogecoin * oasis * near * terra * litecoin * bitcoincash * tezos  #### Testnet * bitcoin/testnet * ethereum/ropsten * dogecoin/testnet * litecoin/testnet * bitcoincash/testnet  #### Native Ubiquity provides native access to all Blockchain nodes it supports. * bitcoin/(mainnet | testnet) - [RPC Documentation](https://developer.bitcoin.org/reference/rpc/) * ethereum/(mainnet | ropsten) - [RPC Documentation](https://ethereum.org/en/developers/docs/apis/json-rpc/) * polkadot/mainnet - [Sidecar API Documentation](https://paritytech.github.io/substrate-api-sidecar/dist/) * polkadot/mainnet/http-rpc - [Polkadot RPC Documentation](https://polkadot.js.org/docs/substrate/rpc/) * algorand/mainnet - [Algod API Documentation](https://developer.algorand.org/docs/reference/rest-apis/algod/) * stellar/mainnet - [Stellar Horizon API Documentation](https://developers.stellar.org/api) * dogecoin/(mainnet | testnet) - [Dogecoin API Documentaion](https://developer.bitcoin.org/reference/rpc/) * oasis/mainnet - [Oasis Rosetta Gateway Documentation](https://www.rosetta-api.org/docs/api_identifiers.html#network-identifier) * near/mainnet - [NEAR RPC Documentation](https://docs.near.org/docs/api/rpc) * terra/mainnet - [Terra RPC Documentation](https://docs.terra.money/docs/develop/how-to/endpoints.html) * litecoin/mainnet - [Litecoin RPC Documentation](https://litecoin.info/index.php/Litecoin_API) * bitcoincash/mainnet - [Bitcoin Cash RPC Documentation](https://docs.bitcoincashnode.org/doc/json-rpc/) * tezos/mainnet - [Tezos RPC Documentation](https://tezos.gitlab.io/developer/rpc.html)   A full URL example: https://ubiquity.api.blockdaemon.com/v1/bitcoin/mainnet  ##### Pagination Certain resources contain a lot of data, more than what's practical to return for a single request. With the help of pagination, the data is split across multiple responses. Each response returns a subset of the items requested, and a continuation token.  To get the next batch of items, copy the returned continuation token to the continuation query parameter and repeat the request with the new URL. In case no continuation token is returned, there is no more data available.   # noqa: E501

    The version of the OpenAPI document: 3.0.0
    Contact: support@blockdaemon.com
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from ubiquity.ubiquity_openapi_client.api_client import ApiClient, Endpoint as _Endpoint
from ubiquity.ubiquity_openapi_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from ubiquity.ubiquity_openapi_client.model.get_collection_response import GetCollectionResponse
from ubiquity.ubiquity_openapi_client.model.list_assets_response import ListAssetsResponse
from ubiquity.ubiquity_openapi_client.model.list_collection_response import ListCollectionResponse
from ubiquity.ubiquity_openapi_client.model.list_event_response import ListEventResponse


class NFTApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __explorer_get_collection(
            self,
            protocol,
            network,
            id,
            **kwargs
        ):
            """explorer_get_collection  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.explorer_get_collection(protocol, network, id, async_req=True)
            >>> result = thread.get()

            Args:
                protocol (str): Coin platform handle
                network (str): Which network to target
                id (str): Mapped to URL query parameter 'uuid'

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                GetCollectionResponse
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['protocol'] = \
                protocol
            kwargs['network'] = \
                network
            kwargs['id'] = \
                id
            return self.call_with_http_info(**kwargs)

        self.explorer_get_collection = _Endpoint(
            settings={
                'response_type': (GetCollectionResponse,),
                'auth': [
                    'bearerAuth'
                ],
                'endpoint_path': '/nft/{protocol}/{network}/collection/{id}',
                'operation_id': 'explorer_get_collection',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'protocol',
                    'network',
                    'id',
                ],
                'required': [
                    'protocol',
                    'network',
                    'id',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'protocol':
                        (str,),
                    'network':
                        (str,),
                    'id':
                        (str,),
                },
                'attribute_map': {
                    'protocol': 'protocol',
                    'network': 'network',
                    'id': 'id',
                },
                'location_map': {
                    'protocol': 'path',
                    'network': 'path',
                    'id': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__explorer_get_collection
        )

        def __explorer_list_assets(
            self,
            protocol,
            network,
            **kwargs
        ):
            """explorer_list_assets  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.explorer_list_assets(protocol, network, async_req=True)
            >>> result = thread.get()

            Args:
                protocol (str): Coin platform handle
                network (str): Which network to target

            Keyword Args:
                wallet_address (str): Mapped to URL query parameter `wallet_address`. [optional]
                contract_address (str): Mapped to URL query parameter `contract_address`. [optional]
                token_id_value (int): The int64 value.. [optional]
                collection_name (str): Mapped to URL query parameter `collection_name`. [optional]
                sort_by (str): One of: name, token_id, mint_date. [optional]
                order (str): Mapped to URL query parameter `order` One of: asc, desc. [optional]
                page_size (int): Mapped to URL query parameter `page_size`. [optional]
                page_token (str): Mapped to URL query parameter `page_token` base64 encoded cursor. [optional]
                attributes ([str]): Mapped to URL query parameter `attributes`. [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ListAssetsResponse
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['protocol'] = \
                protocol
            kwargs['network'] = \
                network
            return self.call_with_http_info(**kwargs)

        self.explorer_list_assets = _Endpoint(
            settings={
                'response_type': (ListAssetsResponse,),
                'auth': [
                    'bearerAuth'
                ],
                'endpoint_path': '/nft/{protocol}/{network}/assets',
                'operation_id': 'explorer_list_assets',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'protocol',
                    'network',
                    'wallet_address',
                    'contract_address',
                    'token_id_value',
                    'collection_name',
                    'sort_by',
                    'order',
                    'page_size',
                    'page_token',
                    'attributes',
                ],
                'required': [
                    'protocol',
                    'network',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'protocol':
                        (str,),
                    'network':
                        (str,),
                    'wallet_address':
                        (str,),
                    'contract_address':
                        (str,),
                    'token_id_value':
                        (int,),
                    'collection_name':
                        (str,),
                    'sort_by':
                        (str,),
                    'order':
                        (str,),
                    'page_size':
                        (int,),
                    'page_token':
                        (str,),
                    'attributes':
                        ([str],),
                },
                'attribute_map': {
                    'protocol': 'protocol',
                    'network': 'network',
                    'wallet_address': 'wallet_address',
                    'contract_address': 'contract_address',
                    'token_id_value': 'token_id.value',
                    'collection_name': 'collection_name',
                    'sort_by': 'sort_by',
                    'order': 'order',
                    'page_size': 'page_size',
                    'page_token': 'page_token',
                    'attributes': 'attributes',
                },
                'location_map': {
                    'protocol': 'path',
                    'network': 'path',
                    'wallet_address': 'query',
                    'contract_address': 'query',
                    'token_id_value': 'query',
                    'collection_name': 'query',
                    'sort_by': 'query',
                    'order': 'query',
                    'page_size': 'query',
                    'page_token': 'query',
                    'attributes': 'query',
                },
                'collection_format_map': {
                    'attributes': 'multi',
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__explorer_list_assets
        )

        def __explorer_list_collections(
            self,
            protocol,
            network,
            **kwargs
        ):
            """explorer_list_collections  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.explorer_list_collections(protocol, network, async_req=True)
            >>> result = thread.get()

            Args:
                protocol (str): Coin platform handle
                network (str): Which network to target

            Keyword Args:
                contract_address ([str]): Mapped to URL query parameter 'contract_address'. [optional]
                collection_name ([str]): Mapped to URL query parameter 'collection_name'. [optional]
                sort_by (str): Sort by one of: name. [optional]
                order (str): Mapped to URL query parameter `order` One of: asc, desc. [optional]
                page_size (int): Mapped to URL query parameter `page_size`. [optional]
                page_token (str): Mapped to URL query parameter `page_token` base64 encoded cursor. [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ListCollectionResponse
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['protocol'] = \
                protocol
            kwargs['network'] = \
                network
            return self.call_with_http_info(**kwargs)

        self.explorer_list_collections = _Endpoint(
            settings={
                'response_type': (ListCollectionResponse,),
                'auth': [
                    'bearerAuth'
                ],
                'endpoint_path': '/nft/{protocol}/{network}/collections',
                'operation_id': 'explorer_list_collections',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'protocol',
                    'network',
                    'contract_address',
                    'collection_name',
                    'sort_by',
                    'order',
                    'page_size',
                    'page_token',
                ],
                'required': [
                    'protocol',
                    'network',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'protocol':
                        (str,),
                    'network':
                        (str,),
                    'contract_address':
                        ([str],),
                    'collection_name':
                        ([str],),
                    'sort_by':
                        (str,),
                    'order':
                        (str,),
                    'page_size':
                        (int,),
                    'page_token':
                        (str,),
                },
                'attribute_map': {
                    'protocol': 'protocol',
                    'network': 'network',
                    'contract_address': 'contractAddress',
                    'collection_name': 'collectionName',
                    'sort_by': 'sort_by',
                    'order': 'order',
                    'page_size': 'page_size',
                    'page_token': 'page_token',
                },
                'location_map': {
                    'protocol': 'path',
                    'network': 'path',
                    'contract_address': 'query',
                    'collection_name': 'query',
                    'sort_by': 'query',
                    'order': 'query',
                    'page_size': 'query',
                    'page_token': 'query',
                },
                'collection_format_map': {
                    'contract_address': 'multi',
                    'collection_name': 'multi',
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__explorer_list_collections
        )

        def __explorer_list_events(
            self,
            protocol,
            network,
            **kwargs
        ):
            """explorer_list_events  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.explorer_list_events(protocol, network, async_req=True)
            >>> result = thread.get()

            Args:
                protocol (str): Coin platform handle
                network (str): Which network to target

            Keyword Args:
                contract_address (str): mapped to URL query parameter 'contract_address'. [optional]
                wallet_address (str): mapped to URL query parameter 'wallet_address'. [optional]
                token_id (int): mapped to URL query parameter 'token_id'. [optional]
                event_type (str): mapped to URL query parameter 'event_type'. [optional]
                sort_by (str): Sort by one of: timestamp. [optional]
                order (str): Mapped to URL query parameter `order` One of: asc, desc. [optional]
                page_size (int): Mapped to URL query parameter `page_size`. [optional]
                page_token (str): Mapped to URL query parameter `page_token` base64 encoded cursor. [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ListEventResponse
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['protocol'] = \
                protocol
            kwargs['network'] = \
                network
            return self.call_with_http_info(**kwargs)

        self.explorer_list_events = _Endpoint(
            settings={
                'response_type': (ListEventResponse,),
                'auth': [
                    'bearerAuth'
                ],
                'endpoint_path': '/nft/{protocol}/{network}/events',
                'operation_id': 'explorer_list_events',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'protocol',
                    'network',
                    'contract_address',
                    'wallet_address',
                    'token_id',
                    'event_type',
                    'sort_by',
                    'order',
                    'page_size',
                    'page_token',
                ],
                'required': [
                    'protocol',
                    'network',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'protocol':
                        (str,),
                    'network':
                        (str,),
                    'contract_address':
                        (str,),
                    'wallet_address':
                        (str,),
                    'token_id':
                        (int,),
                    'event_type':
                        (str,),
                    'sort_by':
                        (str,),
                    'order':
                        (str,),
                    'page_size':
                        (int,),
                    'page_token':
                        (str,),
                },
                'attribute_map': {
                    'protocol': 'protocol',
                    'network': 'network',
                    'contract_address': 'contract_address',
                    'wallet_address': 'wallet_address',
                    'token_id': 'token_id',
                    'event_type': 'event_type',
                    'sort_by': 'sort_by',
                    'order': 'order',
                    'page_size': 'page_size',
                    'page_token': 'page_token',
                },
                'location_map': {
                    'protocol': 'path',
                    'network': 'path',
                    'contract_address': 'query',
                    'wallet_address': 'query',
                    'token_id': 'query',
                    'event_type': 'query',
                    'sort_by': 'query',
                    'order': 'query',
                    'page_size': 'query',
                    'page_token': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__explorer_list_events
        )
